<h2>El extraño molino del pueblo</h2>
<p>
	Me llamo Antonio y te contaré algo fantástico que me sucedió hace poco. Comenzaré por decirte que vivo en una casita cerca de un riachuelo; junto con mi hermana menor Sara y mi padre. Me encanta el pequeño pueblo en el que vivimos, es hermoso y cada primavera mi hermana y yo salimos a recoger flores y las dejamos por todos lados, dejando el pueblito aún más vistoso.
</p>
<p>
	Pero bueno, todo comienza con un viejo y abandonado molino que está en una colina a las afueras de la diminuta población. Padre nos contó que una vez, el último día de otoño, una densa neblina cubrió la totalidad del lugar. Tanto que apenas se lograba ver la punta de la nariz. Dice mi padre que con tanta curiosidad se alejó un poco del pueblo y lo que vio fue la sombra de lo que parecía ser un gigante armado a punto de atacar a su pobre víctima. En ese momento comenzó extrañamente una potente tormenta, que lo obligó a volver sin antes poder comprobar lo que acababa de ver.  
</p>
<p>
	Por supuesto no podía perderme la oportunidad de ver por primera vez un gigante y menos viviendo al lado mío. Y ese día del que habló mi padre había llegado como si nada. Le dije a Sara que me acompañara, ella debía ser mi testigo. Se negó al principio, porque le daba miedo y padre nos regañaría. Pero al final la convencí y esa misma noche salimos a ver la gran bestia.
</p>
<p>
	Dos horas pasaron y se escuchó un terrible rugido. Sabía que no era mi panza, pues hizo que temblara la tierra. Mi hermana se aferró a mi, mientras yo estaba pálido. Justo estábamos sentados al borde del molino y no aguantábamos las ganas de salir corriendo, cuando algo se movió… no aguanté las ganas de mirar hacia arriba y allí estaba…
</p>
<p>
	Desperté abrazado fuertemente a Sara. Temblábamos del frío y estábamos mojados, sin duda llovió la noche anterior. La desperté y regresamos a casa, claro, con un severo regaño de bienvenida.
</p>
<p>
	No estoy seguro si lo que vi fue real o solamente un sueño, pero no negaré que la sensación fue asombrosa y quien sabe, quizás ustedes lo puedan ver con la misma claridad.
</p>
