<h1>El Ángel de la Muerte</h1>

Todos describen a los ángeles como seres cuya belleza es majestuosa y que su canto<br />
es lo más dulce del universo. Después de lo que me sucedió, no puedo estar de<br />
acuerdo con eso…<br />
Era una fría noche de julio, y estaba yo solo en mi casa, y como de costumbre,<br />
sentado en mi computadora haciendo mis cosas. Eran aproximadamente las 3 de la<br />
madrugada cuando escuché un ruido en la planta baja, era un golpe seco. No le di<br />
mucha importancia y seguí haciendo mis cosas. Al cabo de un rato se escuchó otro<br />
golpe seco, todavía más fuerte, así que decidí bajar a ver. Nunca debí haberlo<br />
hecho…<br />
Apenas salí de mi cuarto, la puerta se cerró sola detrás de mí y todas las luces se<br />
apagaron. Era una oscuridad absoluta. En ese momento empecé a sentir un frío<br />
congelante en mi cuerpo, por lo que empecé a tiritar. Seguí bajando por las<br />
escaleras. Cuando casi llegaba a la planta baja, se escucharon ruidos de cristales<br />
rompiéndose. Cada estruendo me provocaba un dolor inimaginable en la cabeza,<br />
hasta que de pronto volvió la electricidad. Escucho que la puerta de mi cuarto se<br />
abre, lentamente, haciendo un sonido que me crispó tanto los nervios que decidí salir<br />
corriendo de mi casa. Corrí incansablemente hasta estar bastante alejado de mi<br />>
casa. Cuando me di vuelta, allí estaba, parado en la puerta una silueta oscura de lo<br />
que parecía ser un ángel. Cometí la terrible estupidez de quedarme viéndolo. Se<br />
estaba acercando a mí a una velocidad considerable. A este ángel se le veía sólo la<br />
cara, que era bellísima, y además, cantaba con una voz tan dulce que me relajó al<br />
instante.<br /><br />


Pero a medida que se acercaba, su cara se volvía cada vez más horrible, y su canto<br />
se convertía en gritos desgarradores. Ahí es cuando decidí correr con todas mis<br />
fuerzas, lo más lejos que pude, hasta que en un momento tropecé, y gracias al<br />
fuerte golpe que me di en la cabeza, me desmayé.<br />
Cuando me desperté, no estaba en mi casa, si no en casa de mi tío, que vive cerca<br />
de mi casa. Él me dijo que me encontró tirado en la calle con un moretón en la cabeza<br />
mientras venía del trabajo y decidió llevarme a su casa. Desde ese día, no he vuelto<br />
a asistir a una iglesia, y cuando veo la imagen de un ángel, me pongo muy nervioso y<br />
empiezo a convulsionar. Ahora, para evitar problemas, vivo encerrado en la casa<br />
que pertenecía a mi difunto padre, y nunca másvoy a volver a mi casa.<br /><br /><br />

<%= image_tag "angel.jpg" %>
